.container {
    width: 100%;
    max-width: 100vw;
}

/* For Images Shadow Hover */
.image{
    transition: box-shadow 0.3s ease;
}

.image:hover{
    box-shadow: 0 0 8px 6px rgb(182, 27, 79);
}

/* For About Section Slide-up transition */

.about-box{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out, box-shadow 0.3s ease;
}

.about-box.slide-up{
    opacity: 1;
    transform: translateY(0);
}

.about-box:hover{
    box-shadow: 0 0 8px 6px rgb(170, 81, 197);
    transform: scale(1.05);
}

/* For Skills Section */

.skills-image{
    box-shadow: 0 0 8px 6px rgb(39, 210, 216);
}

.skills-bar, .box{
    transition: opacity 1s ease-in-out, transform 1s ease-in-out, box-shadow 0.3s ease;
}

.skills-bar:hover{
    box-shadow: 0 0 8px 6px rgb(204, 45, 143);
    transform: scale(1.05);
}

/* For Project Boxes */
.box:hover{
    box-shadow: 0 0 8px 6px rgb(166, 87, 197);
    transform: scale(1.05)
}

.image-box{
    box-shadow: 0 0 8px 4px rgb(160, 84, 190);
}

.click{
    transition: color 0.3s ease,
    transform 0.3s ease,
    border-bottom 0.3s ease;
    border: 2px solid transparent;
}

.click:hover{
    transform: scale(1.5);
    border: 2px solid #d62c8f;
}

/* For Contact Message Button */
.btn{
    transition: opacity 0.3s ease-in-out, transform 1s ease-in-out; 
    box-shadow: 0 0 8px 6px rgb(166, 87, 197);
}

.btn:hover{
    transform: scale(1.05);
}

/* For Footer li */

#footer-li{
    transition: color 0.3s ease,
    transform 0.3s ease,
    border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
}

#footer-li:hover{
    color: black !important;
    transform: scale(1.05);
    border-bottom: 2px solid black;
}


